:root {
  --white: #ffffff;
  --black: #000000;

  // ### Primary

  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  // #### Light Theme

  --toggle-l: hsl(230, 22%, 74%);

  // #### Dark Theme

  --toggle-d: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  // ### Neutral

  // #### Light Theme

  --bg-l: hsl(0, 0%, 100%); // (BG)
  --tbg-l: hsl(225, 100%, 98%); // (Top BG Pattern)
  --cbg-l: hsl(227, 47%, 96%); // (Card BG)
  --t1-l: hsl(228, 12%, 44%); // (Text)
  --t2-l: hsl(230, 17%, 14%); // (Text)

  // #### Dark Theme

  --bg-d: hsl(230, 17%, 14%); //(BG)
  --tbg-d: hsl(232, 19%, 15%); // (Top BG Pattern)
  --cbg-d: hsl(228, 28%, 20%); // (Card BG)
  --t1-d: hsl(228, 34%, 66%); // (Text)
  --t2-d: hsl(0, 0%, 100%); // (Text)
}
